// Colors
$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

//Fonts
$primary-font: 'Karla', sans-serif;
$secondary-font: 'Red Hat Display', sans-serif;

// Font weight
$font-normal: 500;
$font-bold: 700;
$font-dark: 900;

// Border Radius
$rounded-lg: 15px;
$rounded-md: 10px;
$rounded: 5px;