.plan {
  background-color: $very-pale-blue;
  padding: 20px;
  border-radius: $rounded-lg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }

  &__title {
    font-weight: $font-dark;
    color: $dark-blue;
    margin-bottom: 5px;
  }

  &__price {
    font-family: $primary-font;
    font-weight: $font-normal;
    color: $desaturated-blue;
  }

  &__link {
    font-family: $primary-font;
    font-weight: $font-dark;
    color: $bright-blue;
  }
}